$light-green: rgb(126, 213, 111);
$mediun-green: #55c57a;
$dark-green: #28b485;
$light-green-gradient: rgba($light-green, 0.8);
$dark-green-gradient: rgba($dark-green, 0.8);
$white: #fff;
$black: #000;
$grey: #777;
$black-opacity-20: rgba($black, .2);