.header{
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        $light-green-gradient,
        $dark-green-gradient),
        url(../img//hero.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    &__logo{
        height: 3.5rem;
    }
    
    &__logo-box:hover &__logo{
        animation: moveInRight 0.5s ease;
    }
    
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-45%,-50%);
        text-align: center;
    }
}

