.navigation{
    &__checkbox{
        display: none;
    }
    
    &__btn{
        background-color: $white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($black, .1);
        text-align: center;
        cursor: pointer;
    }

    &__background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($light-green, $dark-green);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0 , 0.07, 1);
    }

    &__nav{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.55 , 0.265, 1.55);
    }

    &__list{
        @include abscenter;
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item{
        margin: 1rem
    }

    &__link{
        &:link,
        &:visited{
            display: inline-block;
            text-decoration: none;
            font-size: 3rem;
            text-transform: uppercase;
            color: $white;
            font-weight: 300;
            padding: 1rem 2rem;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $white 50%);
            background-size: 226%;

            transition: all .4s;

            span{
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active{
            background-position: 100%;
            color: $mediun-green;
            transform: translateX(1rem);
        }
    }
     
    &__checkbox:checked ~ &__background{
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav{
        opacity: 1;
        width: 100%;
    }

    &__icon{
        position: relative;
        margin-top: 3.5rem;

        &,
        &::after,
        &::before {
            width: 3rem;
            height: 2px;
            background-color: $grey-dark-3;
            display: inline-block;
        }

        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before{
            top: -.8rem;
        }

        &::after{
            top: .8rem;
        }
    }

    &__btn:hover &__icon::before{
        top: -1rem;
    }

    &__btn:hover &__icon::after{
        top: 1rem;
    }

    &__checkbox:checked + &__btn &__icon{
        background-color: transparent;
    }

    &__checkbox:checked + &__btn &__icon::before{
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__btn &__icon::after{
        top: 0;
        transform: rotate(-135deg);
    }
}