.form{
    &__group:not(:last-child){
        margin-bottom: 2rem;
    }
    &__input{
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        background-color: rgba($white,.5);
        width: 90%;
        border:none;
        border-radius: 2px;
        border-bottom: 3px solid transparent;
        display: block;
        transition: all .3s;

        @include respond(tab-port){
            width: 100%;
        }

        &:focus{
            outline: none;
            border-bottom: 3px solid $mediun-green;
            box-shadow: 0 1rem 2rem rgba($black, .1);

            &:invalid{
                border-bottom: 3px solid $color-secondary-dark;
            }
        }

        &::-webkit-input-placeholder{
            color: $grey-dark-2;
        }
    }
    &__label{
        font-size: 1.4rem;
        font-weight: 700;
        margin-top: .7rem;
        margin-left: 2rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-flex;
        align-items: center;

        @include respond(tab-port){
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        cursor: pointer;
    }

    &__radio-btn {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: 5px solid $mediun-green;
        display: inline-block;
        margin-right: 1.5rem;
        position: relative;

        &::after {
            content: "";
            height: 1.3rem;
            width: 1.3rem;
            background-color: $mediun-green;
            border-radius: 50%;
            @include abscenter;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-btn::after {
        opacity: 1;
    }
}