.story{
    padding: 6rem;
    padding-left: 9rem;
    background-color: rgba($white,.6);
    margin: 0 auto;
    width: 75%;
    box-shadow: 0 3rem 6rem rgba($black, .1);
    border-radius: 3px;
    font-size: 1.6rem;
    transform: skewX(-12deg);

    @include respond(tab-port){
        padding: 4rem;
        padding-left: 7rem;
        width: 100%;
    }

    @include respond(phone){
        transform: skewX(0);
    }

    &:not(:last-child){
        margin-bottom: 8rem;
    }

    &__row{
        flex-direction: column;
    }

    &__shape{
        height: 15rem;
        width: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        overflow: hidden;

        @include respond(phone){
            transform: translateX(-3rem) skewX(0);
        }
    }

    &__photo{
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
    }

    &__text{
        transform: skewX(12deg);

        @include respond(phone){
            transform: skewX(0);
        }
    }

    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        text-transform: uppercase;
        color: $white;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__photo{
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}