body{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding: 3rem;
    color: $grey;
}

.heading-primary{
    color: $white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInLeft 1s ease-out;
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $light-green, $dark-green);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover{
        transform: skewX(15deg) skewY(2deg) scale(1.1);
        text-shadow: .5rem  1rem 2rem $black-opacity-20;
    }
}

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: 1.6rem;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}