.section-about{
    background-color: $grey-light-1;
    margin-top: -20vh;
    padding: 25rem 0;
}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        $light-green-gradient,
        $dark-green-gradient),
        url(../../img/nat-4.jpg);
    background-size: cover;
    margin-top: -10rem;

    transform: skewY(-7deg);

    & > *{
        transform: skewY(7deg);
    }
}

.section-tours{
    background-color: $grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}